<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-840">
            <div class="cs-container">
                <div class="cs-logo-group">
                    <a class="cs-logo" href="/" aria-label="go back to home">
                        <img alt="logo" decoding="async" height="32" src="/assets/images/logo-gold.svg" width="240" aria-hidden="true" class="cs-logo-img" loading="lazy">
                    </a>
                    <p class="cs-text">At Bespoke Estate Law, we're committed to providing personalized legal solutions that protect your assets, secure your future, and give you peace of mind.</p>
                </div>
                <div class="cs-ul-wrapper">
                    <span class="cs-header">Quick Links</span>
                    <ul class="cs-ul cs-ul-1">
                        <li class="cs-li">
                            <a class="cs-link" href="/">Home</a>
                        </li>
                        <li class="cs-li">
                            <a class="cs-link" href="/about">About</a>
                        </li>
                        <li class="cs-li">
                            <a class="cs-link" href="/contact">Contact</a>
                        </li>
                        <li class="cs-li">
                            <a class="cs-link" href="/myrtle-beach/business">Business Law</a>
                        </li>
                        <li class="cs-li">
                            <a class="cs-link" href="/myrtle-beach">Estate Planning</a>
                        </li>
                        <li class="cs-li">
                            <a class="cs-link" href="/myrtle-beach/trusts">Trusts</a>
                        </li>
                        <li class="cs-li">
                            <a class="cs-link" href="/myrtle-beach/wills">Wills</a>
                        </li>
                    </ul>
                </div>
                <div class="cs-ul-wrapper">
                    <span class="cs-header">Contact Information</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <a class="cs-link" href="/contact" target="_blank">
                                <img alt="clock icon" decoding="async" height="20" src="/assets/images/clock-grey.svg" width="20" aria-hidden="true" class="cs-icon" loading="lazy">M-Th 9am – 5pm, Fri 9am-3pm
                            </a>
                        </li>
                        <li class="cs-li">
                            <a class="cs-link" href="tel:843-999-0799">
                                <img alt="phone icon" decoding="async" height="20" src="/assets/images/phone-grey.svg" width="20" aria-hidden="true" class="cs-contact-icon" loading="lazy">(843) 999-0799
                            </a>
                        </li>
                        <li class="cs-li">
                            <a class="cs-link" href="mailto:Matthew@bespokeestatelaw.com">
                                <img alt="email icon" decoding="async" height="20" src="/assets/images/message-grey.svg" width="20" aria-hidden="true" class="cs-icon" loading="lazy">Click To Email
                            </a>
                        </li>
                        <li class="cs-li">
                            <a class="cs-link" href="https://maps.app.goo.gl/HywvtiLfGKLBXY9KA" target="_blank">
                                <img alt="pin icon" decoding="async" height="20" src="/assets/images/pin-grey.svg" width="20" aria-hidden="true" class="cs-icon" loading="lazy">207 Chartwell Ct, Myrtle Beach, SC 29588
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cs-bottom">
                <span class="cs-credit">
                    © Copyright 2024 <a class="cs-credit-link" href="https://www.oakharborwebdesigns.com/" target="_blank">Oak Harbor Web Designs</a>
                </span>
                <div class="cs-bottom-links">
                    <a class="cs-bottom-link" href="/sms-policy/">SMS Policy</a>
                </div>
            </div>
        </footer>