<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
            <div class="cs-top-bar">
                <div class="cs-top-container">
                    <div class="cs-top-contact">
                        <a class="cs-top-link" href="tel:{{client.newClientsPhoneForTel}}">
                            <!--<img alt="logo" decoding="async" height="16" src="" width="16" aria-hidden="true" class="cs-link-icon">-->Call us: {{client.newClientsPhoneFormatted}}
                        </a>
                        <a class="cs-top-link" href="/contact">
                            <!--<img alt="logo" decoding="async" height="20" src="" width="20" aria-hidden="true" class="cs-link-icon">-->Opening hours: Mon - Sun: 7am-11pm
                        </a>
                    </div>
                </div>
            </div>
            <div class="cs-container">
                <a class="cs-logo" href="/" aria-label="back to home">
                    <!--<img alt="logo" decoding="async" height="43" src="" width="197" aria-hidden="true">-->
                </a>
                <a class="cs-button-solid mobile-button" href="tel:843-999-0799">Call Now</a>
                <nav class="cs-nav" role="navigation">
                    <button aria-label="mobile menu toggle" class="cs-toggle">
                        <div class="cs-box" aria-hidden="true">
                            <span class="cs-line cs-line1" aria-hidden="true"></span>
                            <span class="cs-line cs-line2" aria-hidden="true"></span>
                            <span class="cs-line cs-line3" aria-hidden="true"></span>
                        </div>
                    </button>
                    <div class="cs-ul-wrapper">
                        <ul class="cs-ul" aria-expanded="false" id="cs-expanded">
                            <li class="cs-li">
                                <a class="cs-li-link cs-active" href="/">Home</a>
                            </li>
                            <li class="cs-li">
                                <a class="cs-li-link" href="/about">About</a>
                            </li>
                            <li class="cs-li cs-dropdown" tabindex="0">
                                <span class="cs-li-link">
                                    Areas Served <!--<img alt="dropdown icon" decoding="async" height="15" src="" width="15" aria-hidden="true" class="cs-drop-icon">-->
                                </span>
                                <ul class="cs-drop-ul">
                                    <li class="cs-drop-li">
                                        <span class="cs-li-link cs-drop-link cs-drop3-main">
                                            Myrtle Beach <!--<img alt="dropdown icon" decoding="async" height="15" src="" width="15" aria-hidden="true" class="cs-drop-icon">-->
                                        </span>
                                        <ul class="cs-drop3">
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/myrtle-beach">Estate Planning</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/myrtle-beach/trusts">Trusts</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/myrtle-beach/wills">Wills</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/myrtle-beach/business">Business Law</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/myrtle-beach/power-of-attorney">Power Of Attorney</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/myrtle-beach/probate">Probate Lawyer</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="cs-drop-li">
                                        <span class="cs-li-link cs-drop-link cs-drop3-main">
                                            North Myrtle <!--<img alt="dropdown icon" decoding="async" height="15" src="" width="15" aria-hidden="true" class="cs-drop-icon">-->
                                        </span>
                                        <ul class="cs-drop3">
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/north-myrtle">Estate Planning</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/north-myrtle/contracts/">Contract Law</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/north-myrtle/business/">Business Law</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/north-myrtle/probate/">Probate Lawyer</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/north-myrtle/trusts/">Trusts</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/north-myrtle/wills/">Wills</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="cs-drop-li">
                                        <span class="cs-li-link cs-drop-link cs-drop3-main">
                                            Surfside Beach <!--<img alt="dropdown icon" decoding="async" height="15" src="/assets/images/chev-down.svg" width="15" aria-hidden="true" class="cs-drop-icon">-->
                                        </span>
                                        <ul class="cs-drop3">
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/surfside-beach/trusts">Trust Lawyer</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/surfside-beach">Estate Planning</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="cs-drop-li">
                                        <span class="cs-li-link cs-drop-link cs-drop3-main">
                                            Leland <!--<img alt="dropdown icon" decoding="async" height="15" src="/assets/images/chev-down.svg" width="15" aria-hidden="true" class="cs-drop-icon">-->
                                        </span>
                                        <ul class="cs-drop3">
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/leland/business/">Business Law</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/leland/">Estate Planning</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/leland/power-of-attorney/">Power of Attorney</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/leland/probate/">Probate Attorney</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/leland/trusts/">Trusts</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/leland/wills/">Wills</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="cs-drop-li">
                                        <span class="cs-li-link cs-drop-link cs-drop3-main">
                                            Wilmington <img alt="dropdown icon" decoding="async" height="15" src="/assets/images/chev-down.svg" width="15" aria-hidden="true" class="cs-drop-icon">
                                        </span>
                                        <ul class="cs-drop3">
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/wilmington/trusts">Trusts</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/wilmington/wills">Wills</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/wilmington/business">Business Law</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/wilmington/power-of-attorney">Power Of Attorney</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/wilmington/probate">Probate Lawyer</a>
                                            </li>
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/wilmington">Estate Planning</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="cs-drop-li">
                                        <span class="cs-li-link cs-drop-link cs-drop3-main">
                                            Murrells Inlet <img alt="dropdown icon" decoding="async" height="15" src="/assets/images/chev-down.svg" width="15" aria-hidden="true" class="cs-drop-icon">
                                        </span>
                                        <ul class="cs-drop3">
                                            <li class="cs-drop-li3">
                                                <a class="cs-li-link cs-drop-link cs-drop-link3" href="/murrells-inlet">Estate Planning</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="cs-li cs-dropdown" tabindex="0">
                                <span class="cs-li-link">
                                    Services <!--<img alt="dropdown icon" decoding="async" height="15" src="/assets/images/chev-down.svg" width="15" aria-hidden="true" class="cs-drop-icon">-->
                                </span>
                                <ul class="cs-drop-ul">
                                    <li class="cs-drop-li">
                                        <a class="cs-li-link cs-drop-link" href="/myrtle-beach">Estate Planning</a>
                                    </li>
                                    <li class="cs-drop-li">
                                        <a class="cs-li-link cs-drop-link" href="/myrtle-beach/trusts">Trusts</a>
                                    </li>
                                    <li class="cs-drop-li">
                                        <a class="cs-li-link cs-drop-link" href="/myrtle-beach/wills">Wills</a>
                                    </li>
                                    <li class="cs-drop-li">
                                        <a class="cs-li-link cs-drop-link" href="/myrtle-beach/business">Business Law</a>
                                    </li>
                                    <li class="cs-drop-li">
                                        <a class="cs-li-link cs-drop-link" href="/myrtle-beach/power-of-attorney">Power Of Attorney</a>
                                    </li>
                                    <li class="cs-drop-li">
                                        <a class="cs-li-link cs-drop-link" href="/myrtle-beach/probate">Probate Attorney</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="cs-li">
                                <a class="cs-li-link" href="/blog">Blog</a>
                            </li>
                            <li class="cs-li">
                                <a class="cs-li-link" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <a class="cs-button-solid cs-nav-button" href="/contact">Book Consultation</a>
            </div>
        </header>