---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

<section id="hero-288">
                <div class="cs-container">
                    <div class="cs-content">
                        <span class="cs-topper">Your Fight. Our Priority</span>
                        <h1 class="cs-title">Call <br>{{client.businessName}}</h1>
                        <p class="cs-text" style="min-height:105px">If you’ve been injured in an accident, you deserve justice and proper compensation. At SGV Law, APC, we specialize in personal injury cases and fight tirelessly for victims like you. Call us anytime for a free consultation.</p>
                        <a class="cs-button-solid" href="/contact">Make An Appointment</a>
                        <ul class="cs-stats-group">
                            <li class="cs-item">
                                <span class="cs-number">24+</span>
                                <span class="cs-desc">Years In Business</span>
                            </li>
                            <li class="cs-item">
                                <span class="cs-number">200+</span>
                                <span class="cs-desc">Happy Clients</span>
                            </li>
                            <li class="cs-item">
                                <span class="cs-number">100%</span>
                                <span class="cs-desc">Satisfaction</span>
                            </li>
                        </ul>
                    </div>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/heromlylaw.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/heromlylaw.png">
                        <img alt="{{client.ownerName}}" decoding="async" height="814" src="/assets/images/heromlylaw.png" width="630" aria-hidden="true">
                    </picture>
                    <div class="cs-waves"></div>
                </div>
            </section>
            <section id="services-296">
                <div class="cs-container">
                    <div class="cs-content">
                        <span class="cs-topper cs-centered">Our Services</span>
                        <h2 class="cs-title">{{client.name}}: Tailored Legal Solutions for Your Unique Needs</h2>
                        <p class="cs-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, {{client.name}} excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <a class="cs-link" href="/myrtle-beach">
                                <img alt="icon" decoding="async" height="48" src="/assets/svgs/s1.svg" width="48" aria-hidden="true" class="cs-icon" loading="lazy">
                                <h3 class="cs-h3">Car & Motorcycle Accidents</h3>
                                <p class="cs-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </a>
                            <picture class="cs-image" aria-hidden="true">
                                <source media="(max-width: 768px)" srcset="/assets/images/service-bg-m.webp">
                                <source media="(min-width: 769px)" srcset="/assets/images/service-bg.jpg">
                                <img alt="library" decoding="async" height="266" src="/assets/images/service-bg.jpg" width="413" loading="lazy">
                            </picture>
                        </li>
                        <li class="cs-item">
                            <a class="cs-link" href="/myrtle-beach/business">
                                <img alt="icon" decoding="async" height="48" src="/assets/svgs/s2.svg" width="48" aria-hidden="true" class="cs-icon" loading="lazy">
                                <h3 class="cs-h3">Worker's Compensation</h3>
                                <p class="cs-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </a>
                            <picture class="cs-image" aria-hidden="true">
                                <source media="(max-width: 768px)" srcset="/assets/images/service-bg-m.webp">
                                <source media="(min-width: 769px)" srcset="/assets/images/service-bg.jpg">
                                <img alt="library" decoding="async" height="266" src="/assets/images/service-bg.jpg" width="413" loading="lazy">
                            </picture>
                        </li>
                        <li class="cs-item">
                            <a class="cs-link" href="/myrtle-beach/business">
                                <img alt="icon" decoding="async" height="48" src="/assets/svgs/s3.svg" width="48" aria-hidden="true" class="cs-icon" loading="lazy">
                                <h3 class="cs-h3">Slip & Fall Injuries</h3>
                                <p class="cs-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </a>
                            <picture class="cs-image" aria-hidden="true">
                                <source media="(max-width: 768px)" srcset="/assets/images/service-bg-m.webp">
                                <source media="(min-width: 769px)" srcset="/assets/images/service-bg.jpg">
                                <img alt="library" decoding="async" height="266" src="/assets/images/service-bg.jpg" width="413" loading="lazy">
                            </picture>
                        </li>
                        <li class="cs-item">
                            <a class="cs-link" href="/myrtle-beach/trusts">
                                <img alt="icon" decoding="async" height="48" src="/assets/svgs/s4.svg" width="48" aria-hidden="true" class="cs-icon" loading="lazy">
                                <h3 class="cs-h3">Criminal Defense Representation</h3>
                                <p class="cs-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </a>
                            <picture class="cs-image">
                                <source media="(max-width: 768px)" srcset="/assets/images/service-bg-m.webp">
                                <source media="(min-width: 769px)" srcset="/assets/images/service-bg.jpg">
                                <img alt="library" decoding="async" height="266" src="/assets/images/service-bg.jpg" width="413" aria-hidden="true" loading="lazy">
                            </picture>
                        </li>
                    </ul>
                    <a class="cs-button-solid" href="/contact">Book Free Consulation</a>
                </div>
            </section>
            <section id="quote-560">
                <div class="cs-container">
                    <div class="cs-content">
                        <span class="cs-topper">Relentless (adjective):</span>
                        <p class="cs-quote">
                        Never giving up on your case. At {{client.name}}, we fight tirelessly for justice and maximum compensation, giving every client the personal attention they deserve.
                        </p>
                        <span class="cs-name">Why Choose {{client.name}}</span>

                    </div>
                </div>
            </section>
            <section id="sbs-311">
                <div class="cs-container">
                    <div class="cs-image-group">
                        <picture class="cs-picture cs-picture1">
                            <source media="(max-width: 600px)" srcset="/assets/images/personalInjury.jpg">
                            <source media="(min-width: 601px)" srcset="/assets/images/personalInjury.jpg">
                            <img alt="lawyers" decoding="async" height="581" src="/assets/images/personalInjury.jpg" width="522" aria-hidden="true" loading="lazy">
                        </picture>
                        <picture class="cs-picture cs-picture2">
                            <source media="(max-width: 600px)" srcset="/assets/images/MLYLaw.jpg">
                            <source media="(min-width: 601px)" srcset="/assets/images/MLYLaw.jpg">
                            <img alt="gavel" decoding="async" height="400" src="/assets/images/MLYLaw.jpg" width="414" aria-hidden="true" loading="lazy">
                        </picture>
                    </div>
                    <div class="cs-content">
                        <span class="cs-topper">{{client.name}}</span>
                        <h2 class="cs-title">Personal Injury & Accident Attorneys</h2>
                        <p class="cs-text">{{client.name}} is a leading law firm that specializes in providing comprehensive estate planning, business law, contract law, and probate & trust administration services to clients in the Myrtle Beach area. With a focus on protecting client assets and creating custom estate plans, we utilize cutting-edge design and advanced planning techniques to ensure efficient estate administration while considering evolving laws and future trends. Our approach to understanding each client's family dynamic allows us to structure estates in the most sensible manner for every circumstance, minimize taxes, reduce estate administration costs, and streamline the distribution process.</p>
                        <div class="cs-quote">
                            <span class="cs-quote-text">Since I was a child, I've believed that you are your own best competition; as a result, I am always striving to outdo myself and deliver the absolute best for my clients. </span>
                            <span class="cs-name">{{client.ownerName}}</span>
                            <span class="cs-job">Owner/Lead Attorney</span>
                            <img alt="quote" decoding="async" height="77" src="/assets/svgs/quote-white.svg" width="136" loading="lazy" class="cs-quote-icon">
                        </div>
                        <a class="cs-button-solid" href="/contact">Book Free Consultation</a>
                    </div>
                </div>
            </section>
            <section id="steps-1712">
                <picture class="cs-background">
                    <source media="(max-width: 768px)" srcset="/assets/images/svglawoffice.jpg">
                    <source media="(min-width: 769px)" srcset="/assets/images/svglawoffice.jpg">
                    <img alt="business meeting" decoding="async" height="609" src="/assets/images/svglawoffice.jpg" width="522" aria-hidden="true" loading="lazy">
                </picture>
                <div class="cs-container">
                    <div class="cs-wrapper">
                        <div class="cs-content">
                            <span class="cs-topper">Getting Started</span>
                            <h2 class="cs-title">Our Streamlined Estate Planning and Trust Administration Process</h2>
                        </div>
                        <ul class="cs-card-group">
                            <li class="cs-item">
                                <span class="cs-number">01</span>
                                <div class="cs-flex">
                                    <h3 class="cs-h3">Comprehensive Consultation</h3>
                                    <p class="cs-item-text">Begin your estate planning journey with a free, in-depth consultation. We will guide you through the process, discussing your family dynamics, assets, and long-term goals to develop a tailored plan that meets your unique needs.</p>
                                </div>
                            </li>
                            <li class="cs-item">
                                <span class="cs-number">02</span>
                                <div class="cs-flex">
                                    <h3 class="cs-h3">Customized Estate Plan</h3>
                                    <p class="cs-item-text">Based on your consultation, we will craft a personalized estate plan, which may include wills, trust administration and creation, powers of attorney, and healthcare directives. We'll explain each component of your plan and how it contributes to protecting your assets and ensuring your wishes are carried out.</p>
                                </div>
                            </li>
                            <li class="cs-item">
                                <span class="cs-number">03</span>
                                <div class="cs-flex">
                                    <h3 class="cs-h3">Plan Implementation</h3>
                                    <p class="cs-item-text">Once your estate plan is finalized, we will oversee the proper execution and notarization of all legal documents. We'll also assist with the funding of trusts and the transfer of assets, ensuring your plan is fully implemented and effective.</p>
                                </div>
                            </li>
                            <li class="cs-item">
                                <span class="cs-number">04</span>
                                <div class="cs-flex">
                                    <h3 class="cs-h3">Ongoing Maintenance and Trust Administration</h3>
                                    <p class="cs-item-text">As your life circumstances change, our firm will be there to update and maintain your estate plan. We also provide expert trust administration services, including managing trust assets, distributing funds to beneficiaries, and handling tax and legal requirements, giving you peace of mind knowing your legacy is secure.</p>
                                </div>
                            </li>
                        </ul>
                        <a class="cs-button-solid" href="/contact">Book Free Consultation</a>
                    </div>
                </div>
            </section>
            <section id="sbs-1640">
                <div class="cs-container">
                    <div class="cs-content">
                        <span class="cs-topper">Personal Injury Law</span>
                        <h2 class="cs-title">Creating LLCs and Corporations, Operating Agreements, Lease and Contract Drafting, And More</h2>
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/caraccident.jpg">
                            <source media="(min-width: 601px)" srcset="/assets/images/caraccident.jpg">
                            <img alt="two people signing a contract" decoding="async" height="638" src="/assets/images/caraccident.jpg" width="630" loading="lazy">
                        </picture>
                    </div>
                    <div class="cs-stats-group">
                        <p class="cs-text">We provide comprehensive business formation services, guiding you through the process of creating a solid legal foundation for your company. Whether you're establishing a limited liability company (LLC), corporation, or another business entity, we'll help you choose the most appropriate structure based on your unique needs and goals.</p>
                        <p class="cs-text">Our team will draft and file all necessary documents, including articles of incorporation or organization, beneficial ownership information (BOI) reports, and create custom operating agreements or bylaws that outline the management structure, ownership rights, and responsibilities of your business. We'll also provide ongoing support as your business grows, offering advice on compliance issues, contract drafting, and other legal matters, ensuring your company is well-positioned for success.</p>
                        <ul class="cs-stats">
                            <li class="cs-stat">
                                <span class="cs-number">100%</span>
                                <span class="cs-desc">Accurate Filings</span>
                            </li>
                            <li class="cs-stat">
                                <span class="cs-number">500+</span>
                                <span class="cs-desc">Businesses Served</span>
                            </li>
                            <li class="cs-stat">
                                <span class="cs-number">5/5</span>
                                <span class="cs-desc">Client Rating</span>
                            </li>
                        </ul>
                        <a class="cs-button-solid cs-yellow" href="/contact">Book Free Consultation</a>
                    </div>
                </div>
            </section>
            <section id="services-689">
                <div class="cs-container">
                    <div class="cs-content">
                        <div class="cs-flex-group">
                            <span class="cs-topper">Our Services</span>
                            <h2 class="cs-title">Comprehensive Services for Every Stage of Life and Business</h2>
                        </div>
                        <p class="cs-text">At {{client.name}}, we offer a wide array of services within our four main practice areas to cater to your unique needs at every stage of life and business. Our experienced attorney provides personalized guidance and support, ensuring that your legal matters are handled with the utmost care and professionalism. From creating a robust estate plan to protect your assets and loved ones, to establishing and growing your business, we're here to help you navigate the complexities of the legal landscape.</p>
                    </div>
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <a class="cs-link" href="/myrtle-beach/trusts">
                                <picture class="cs-picture">
                                    <img alt="icon" decoding="async" height="32" src="/assets/images/deco.svg" width="32" aria-hidden="true" class="cs-icon" loading="lazy">
                                </picture>
                                <h3 class="cs-h3">Revocable Living Trusts</h3>
                                <p class="cs-item-text">Protect your assets, avoid probate, and maintain control over your property during your lifetime with a revocable living trust tailored to your specific needs and goals.</p>
                            </a>
                        </li>
                        <li class="cs-item">
                            <a class="cs-link" href="/myrtle-beach/trusts">
                                <picture class="cs-picture">
                                    <img alt="icon" decoding="async" height="32" src="/assets/images/deco.svg" width="32" aria-hidden="true" class="cs-icon" loading="lazy">
                                </picture>
                                <h3 class="cs-h3">Irrevocable Trusts</h3>
                                <p class="cs-item-text">Safeguard your wealth, minimize estate taxes, and protect your assets from creditors and lawsuits with an irrevocable trust designed to meet your unique circumstances.</p>
                            </a>
                        </li>
                        <li class="cs-item">
                            <a class="cs-link" href="/myrtle-beach/trusts">
                                <picture class="cs-picture">
                                    <img alt="icon" decoding="async" height="32" src="/assets/images/deco.svg" width="32" aria-hidden="true" class="cs-icon" loading="lazy">
                                </picture>
                                <h3 class="cs-h3">Special Needs Trusts</h3>
                                <p class="cs-item-text">Ensure your loved one with special needs is provided for without jeopardizing their eligibility for government benefits through a carefully crafted special needs trust.</p>
                            </a>
                        </li>
                        <li class="cs-item">
                            <a class="cs-link" href="/myrtle-beach/business">
                                <picture class="cs-picture">
                                    <img alt="icon" decoding="async" height="32" src="/assets/images/deco.svg" width="32" aria-hidden="true" class="cs-icon" loading="lazy">
                                </picture>
                                <h3 class="cs-h3">LLC/Corporation Formation</h3>
                                <p class="cs-item-text">Establish a limited liability company (LLC) to protect your personal assets and benefit from flexible management and taxation options, while minimizing your legal risks.</p>
                            </a>
                        </li>
                        <li class="cs-item">
                            <a class="cs-link" href="/myrtle-beach/business">
                                <picture class="cs-picture">
                                    <img alt="icon" decoding="async" height="32" src="/assets/images/deco.svg" width="32" aria-hidden="true" class="cs-icon" loading="lazy">
                                </picture>
                                <h3 class="cs-h3">Lease Drafting</h3>
                                <p class="cs-item-text">Safeguard your property and ensure a clear lease arrangement with our expert residential and commercial lease drafting services, providing you with the protection and peace of mind you deserve.</p>
                            </a>
                        </li>
                        <li class="cs-item">
                            <a class="cs-link" href="/myrtle-beach/business">
                                <picture class="cs-picture">
                                    <img alt="icon" decoding="async" height="32" src="/assets/images/deco.svg" width="32" aria-hidden="true" class="cs-icon" loading="lazy">
                                </picture>
                                <h3 class="cs-h3">Contract Drafting and Review</h3>
                                <p class="cs-item-text">Ensure your agreements are legally sound, protect your interests, and minimize potential disputes with our contract drafting and review services tailored to your specific needs.</p>
                            </a>
                        </li>
                    </ul>
                    <a class="cs-button-solid" href="/contact">Book Free Consultation</a>
                </div>
            </section>
            <section id="why-choose-1635">
                <div class="cs-container">
                    <div class="cs-content">
                        <div class="cs-flex">
                            <span class="cs-topper">Experienced</span>
                            <h2 class="cs-title">Why Choose {{client.name}}</h2>
                        </div>
                        <p class="cs-text">Choosing {{client.name}} for your legal needs means partnering with a firm that is dedicated to providing exceptional service, personalized solutions, and unparalleled expertise. Here are three compelling reasons why clients trust us with their most important legal matters:</p>
                    </div>
                    <div class="cs-wrapper">
                        <ul class="cs-card-group">
                            <li class="cs-item">
                                <picture class="cs-icon-wrapper">
                                    <img alt="icon" decoding="async" height="32" src="/assets/svgs/chat.svg" width="32" aria-hidden="true" class="cs-icon" loading="lazy">
                                </picture>
                                <div class="cs-text-group">
                                    <h3 class="cs-h3">Tailored Approach</h3>
                                    <p class="cs-item-text">We listen to your unique needs and craft customized legal strategies that align with your goals.</p>
                                </div>
                            </li>
                            <li class="cs-item">
                                <picture class="cs-icon-wrapper">
                                    <img alt="icon" decoding="async" height="32" src="/assets/svgs/call.svg" width="32" aria-hidden="true" class="cs-icon" loading="lazy">
                                </picture>
                                <div class="cs-text-group">
                                    <h3 class="cs-h3">Experienced Attorney</h3>
                                    <p class="cs-item-text">Our attorney's multi-state experience allows us to provide comprehensive, future-proofed solutions for our clients.</p>
                                </div>
                            </li>
                            <li class="cs-item">
                                <picture class="cs-icon-wrapper">
                                    <img alt="icon" decoding="async" height="32" src="/assets/svgs/money.svg" width="32" aria-hidden="true" class="cs-icon" loading="lazy">
                                </picture>
                                <div class="cs-text-group">
                                    <h3 class="cs-h3">Client-Centered Service</h3>
                                    <p class="cs-item-text">We prioritize responsive, attentive service, and we guide you through the legal process with clarity and compassion.</p>
                                </div>
                            </li>
                        </ul>
                        <div class="cs-image-group">
                            <div class="cs-picture-wrapper">
                                <picture class="cs-picture cs-picture1">
                                    <source media="(max-width: 600px)" srcset="/assets/images/MLYLaw.jpg">
                                    <source media="(min-width: 601px)" srcset="/assets/images/MLYLaw.jpg">
                                    <img alt="{{client.ownerName}}" decoding="async" height="414" src="/assets/images/MLYLaw.jpg" width="434" loading="lazy">
                                </picture>
                                <div class="cs-box">
                                    <span class="cs-header">{{client.ownerName}}</span>
                                    <span class="cs-desc">Lead Attorney</span>
                                </div>
                            </div>
                            <picture class="cs-picture cs-picture2">
                                <source media="(min-width: 600px)" srcset="/assets/images/why3-m.webp">
                                <source media="(max-width: 601px)" srcset="/assets/images/why3.jpg">
                                <img alt="on computer" decoding="async" height="197" src="/assets/images/why3.jpg" width="197" loading="lazy">
                            </picture>
                        </div>
                    </div>
                </div>
            </section>
            <section id="reviews-727">
                <div class="cs-container">
                    <div class="cs-content">
                        <span class="cs-topper cs-centered">Testimonials</span>
                        <h2 class="cs-title">What Our Clients Have To Say</h2>
                        <p class="cs-text">Our clients appreciate our ability to simplify complex legal concepts, provide prompt updates on their cases, and offer unwavering support throughout the process. Whether we're crafting a comprehensive estate plan, guiding a client through business formation, or administering a trust with diligence and care, our goal is always to achieve the best possible outcome for our clients. Their satisfaction and peace of mind are our ultimate measures of success.</p>
                    </div>
                    <ul class="cs-card-group">
                        <li class="cs-item">
                            <img alt="quote icon" decoding="async" height="38" src="/assets/svgs/quote-blue.svg" width="40" aria-hidden="true" class="cs-icon" loading="lazy">
                            <p class="cs-item-text">We needed an Estate Planning attorney and found Matthew. We explained what we needed and he laid it all out for us. Matthew made our process stress free and we know our assets are protected and our family will be protected as well. Matthew is extremely knowledgeable and professional. I would definitely recommend {{client.name}} if you are in need of estate planning services.</p>
                            <span class="cs-name">Pilar D.</span>
                        </li>
                        <li class="cs-item">
                            <img alt="quote icon" decoding="async" height="38" src="/assets/svgs/quote-blue.svg" width="40" aria-hidden="true" class="cs-icon" loading="lazy">
                            <p class="cs-item-text">We would highly recommend Bespoke Law for all of your estate planning. We relocated to a new state and Matt made the entire process seamless and efficient. He provided sound advice on how to best protect ourselves and our heirs from unnecessary costs. Call Matt today!</p>
                            <span class="cs-name">Dorie M.</span>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="cta-1692">
                <div class="cs-container">
                    <div class="cs-content">
                        <span class="cs-topper cs-centered">Call Now</span>
                        <h2 class="cs-title">Call Someone You Can Trust, Call {{client.name}}</h2>
                        <p class="cs-text">Contact {{client.name}} today for a free consultation. Our experienced attorney will provide personalized guidance to help you achieve your legal goals.</p>
                        <a class="cs-button-solid cs-yellow cs-submit" href="/contact">Book Free Consultation</a>
                    </div>
                </div>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/cta-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/cta.jpg">
                    <img alt="justice scales and gavel" decoding="async" height="609" src="/assets/images/cta.jpg" width="522" aria-hidden="true" loading="lazy">
                </picture>
            </section>


{% endblock %}